<header>
  <h3>Getting Started</h3>
  <ul class="menu">
	<li><a href="/OACVideoAnnotator/docs/">Main Page</a></li>
	<li><a href="/OACVideoAnnotator/docs/downloading.html">Downloading Video Annotator</a></li>
	<li><a href="/OACVideoAnnotator/docs/how-videoanno-works.html">How Video Annotator Works</a></li>
	<li><a href="/OACVideoAnnotator/docs/faq.html">FAQ</a></li>
  </ul>
  <h3>API Reference</h3>
  <ul class="menu">
	<li><a href="/OACVideoAnnotator/docs/core/">Video Annotator Core</a></li>
	<li><a href="/OACVideoAnnotator/docs/components/">Components</a></li>
	<li><a href="/OACVideoAnnotator/docs/events/">Events</a></li>
	<li><a href="/OACVideoAnnotator/docs/controllers/">Controllers</a></li>
	<li><a href="/OACVideoAnnotator/docs/data-stores/">Data Stores</a></li>
	<li><a href="/OACVideoAnnotator/docs/data-views/">Data Views</a></li>
	<li><a href="/OACVideoAnnotator/docs/presentations/">Presentations</a></li>
	<li><a href="/OACVideoAnnotator/docs/applications/">Applications</a></li>
  </ul>
</header>