<header>
  <p class="view"><a href="https://github.com/umd-mith/OACVideoAnnotator">View the Project on GitHub <small>umd-mith/OACVideoAnnotator</small></a></p>
  <ul class="downloads">
    <li><a href="dist/videoanno.js">Download <strong>Library</strong></a></li>
    <li><a href="dist/videoanno.min.js">Download <strong>Minified lib</strong></a></li>
    <li><a href="https://github.com/umd-mith/OACVideoAnnotator">Fork On <strong>GitHub</strong></a></li>
  </ul>
  <ul>
    <li><a href="code/">Code Documentation</a></li>
    <li><a href="docs/">API Reference</a></li>
    <!-- li><a href="tutorials/">View <strong>Tutorials</strong></a></li -->
    <li><a href="demo.html">View <strong>Demo</strong></a></li>
  </ul>
</header>