<section id="meta">
<h3>Version</h3>
<p>0.131210</p>

<h3>Dependencies</h3>
<ul>
  <li><strong>jQuery</strong> 1.7.1</li>
  <li><strong>Raphael.js</strong> 1.5.2</li>
  <li><strong>MITHgrid</strong> 0.131210</li>
</ul>

<h3>Authors and Contributors</h3>
<ul>
  <li>James Smith (<a href="http://github.com/jgsmith" class="user-mention">@jgsmith</a>), Software Architect</li>
  <li>Aaron Wood, Alexander Street Press Coordinator</li>
</ul>
<h4>Developers</h4>
<ul>
  <li>Grant Dickie (<a href="http://github.com/jdickie" class="user-mention">@jdickie</a>)
</ul>
</section>
