.guide { color: black; }
.guide-htm_com, .guide-com, .guide-one, .guide-php_com, .guide-php_one, .guide-js_one { color: gray; }
.guide-php { color: #000033; background-color: #FFF0F0; }
.guide-php_quo, .guide-quo, .guide-php_eot, .guide-apo, .guide-py_rlapo, .guide-py_rlquo, .guide-py_rapo, .guide-py_rquo, .guide-py_lapo, .guide-py_lquo, .guide-sql_apo, .guide-sqlite_apo, .guide-sql_quo, .guide-sqlite_quo, .guide-sql_eot { color: green; }
.guide-php_apo { color: #009F00; }
.guide-php_quo_var, .guide-php_var, .guide-sql_var { font-style: italic; }
.guide-php_halt2 { background-color: white; color: black; }
.guide-tag_css, .guide-att_css .guide-att_quo, .guide-att_css .guide-att_apo, .guide-att_css .guide-att_val { color: black; background-color: #FFFFE0; }
.guide-tag_js, .guide-att_js .guide-att_quo, .guide-att_js .guide-att_apo, .guide-att_js .guide-att_val, .guide-css_js { color: black; background-color: #F0F0FF; }
.guide-tag { color: navy; }
.guide-att, .guide-att_js, .guide-att_css { color: teal; }
.guide-att_quo, .guide-att_apo, .guide-att_val { color: purple; }
.guide-ent { color: purple; }
.guide-js_reg { color: navy; }
.guide-php_sql .guide-php_quo, .guide-php_sql .guide-php_apo,
.guide-php_sqlite .guide-php_quo, .guide-php_sqlite .guide-php_apo,
.guide-php_pgsql .guide-php_quo, .guide-php_pgsql .guide-php_apo
{ background-color: #FFBBB0; }
.guide-bac, .guide-php_bac, .guide-bra, .guide-pgsql .guide-sqlite_quo { color: red; }
.guide-num, .guide-clr { color: #007f7f; }

.guide a { color: navy; }
.guide-sql a { font-weight: bold; }
.guide-tag a,
.guide-php_phpini .guide-php_apo a, .guide-php_phpini .guide-php_quo a,
.guide-php_sql .guide-php_apo a, .guide-php_sql .guide-php_quo a,
.guide-php_sqlite .guide-php_apo a, .guide-php_sqlite .guide-php_quo a,
.guide-php_pgsql .guide-php_apo a, .guide-php_pgsql .guide-php_quo a
{ color: inherit; color: expression(parentNode.currentStyle.color); }
