@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  margin: 0px;
  padding: 0px;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

a.user-mention {
  font-weight: bolder;
}

.wrapper {
  padding-left:50px;
  padding-right: 50px;
  width:860px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;  
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

header, section#meta {
  width:270px;
  float:left;
  /* position:fixed; */
}

ul.downloads {
  list-style:none;
  height:40px;
  
  padding:0;
  
  background: #eee;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
  background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
  
  border-radius:5px;
  border:1px solid #d2d2d2;
  box-shadow:inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
  width:270px;
}

ul.downloads li {
  width:89px;
  float:left;
  border-right:1px solid #d2d2d2;
  height:40px;
}

ul.downloads a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:40px;
}

strong {
  color:#222;
  font-weight:700;
}

ul.downloads li + li {
  width:88px;
  border-left:1px solid #fff;
}

ul.downloads li + li + li {
  border-right:none;
  width:89px;
}

ul.downloads a strong {
  font-size:14px;
  display:block;
  color:#222;
}

section#meta ul {
	list-style: none;
	padding: 0px;
}

section {
  width:500px;
  float:right;
  /* padding-bottom:50px; */
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#aaa;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  /* position:fixed; */
  bottom:50px;
}

#top {
	background-color: black;
	margin-bottom: 1em;
	padding-bottom: 2em;
	padding-left: 0.5em;
}

#bottom {
	clear: both;
	background-color: black;
	margin-top: 1em;
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
	color: #aaa;
	font-weight: bolder;
	text-align: right;
	padding-bottom: 1em;
}

#bottom p {
	padding: 0px;
	margin: 0px;
}

#bottom p a {
	font-weight: bolder;
	
}

#title {
	text-shadow: 0 0 3px #222;
	font-weight: bold;
	width: 860px;
	margin: 0 auto;
}

#title h1, #description {
	padding: 0.5em 0 0;
	margin: 0;
	color: #aaa;
}

#title h1 {
	font-size: 48px;
}

#description {
	font-size: 14px;
	font-style: italic;
}

@media print, screen and (max-width: 960px) {
  
  div.wrapper, #title, #bottom {
    width:auto;
    margin:0;
  }
  
  header, section, footer, section#meta {
    float:none;
    position:static;
    width:auto;
  }
  
  header, section#meta {
    padding-right:320px;
  }
  
  section {
    /* border:1px solid #e5e5e5;
    border-width:1px 0; 
    padding:20px 0; */
    margin:0 0 20px;
  }
  
  header a small {
    display:inline;
  }
  
  ul.downloads {
    position:absolute;
    right:75px;
    top:30px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }
  
  header, section#meta {
    padding:0;
  }
  
  ul.downloads, header p.view {
    position:static;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    /* padding:15px; */
  }
  
  ul.downloads {
    display:none;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
