body {
	background: #ADDEE1;
}
#canvasSVG {
	
	
}
#sidebar {
	
}

.anno_list {
	padding: 10px;
	background: #FFF;
	border: 2px solid red;
	margin-right: 10%;
	height: 766px;
	width: 200px;
	float: right;
}
.anno_item {
	padding: 3px;
}
.anno_item.selected {
	padding: 1px;
	border: dashed black 2px;
}
.canvas_svg_holder {
	padding: 10px;
	background: #FFF;
	border: 2px solid red;
/*	height: 766px;
	width: 600px; */
	margin-right: 15px;
	margin-left: 20px;
	float: left;
}
.canvas_svg {
	height: 766px;
	width: 600px;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
.controlarea {
	padding: 10px;
	background: #FF6600;
	color: #000066;
	float: left;
	height: 400px;
	width: 300px;
}

.controlarea .buttongrouping {
	padding: 5px;
	background: #FFF;
	color: #5272e7;
	border: 1px solid red;
	margin-top: 10px;
	cursor: pointer;
	width: 230px;
}

.button {
	padding: .5em;
	font-size: 24px;
	border: 1px solid red;
	cursor: pointer;
}

.button:hover {
	padding: .5em;
	font-size: 26px;
	border: 1px dotted green;
	cursor: pointer;
	
}

.button.active {
	padding: .5em;
	font-size: 26px;
	text-decoration: bold;
	color: green;
	border: 1px dotted green;
	cursor: pointer;
}