body {
	background: #ADDEE1;
}
#canvasSVG {
	
	
}
#sidebar {
	padding: 10px;
	background: #FF6600;
	color: #000066;
	float: left;
	height: 400px;
}

.anno_list {
	padding: 10px;
	background: #FFF;
	border: 2px solid red;
	margin-right: 10%;
	height: 766px;
	width: 200px;
	float: right;
}
.anno_item {
	
}
.anno_item.selected {
	padding: .5em;
	border: dashed black 2px;
}
.canvas_svg {
	padding: 10px;
	background: #FFF;
	border: 2px solid red;
	height: 766px;
	width: 600px;
	margin-right: 15px;
	margin-left: 20%;
	float: left;
}
.controlarea {
	padding: 2px;
	
}
.controlarea .button_item {
	padding: 2px;
	background: #FFF;
	color: #5272e7;
	border: 1px solid red;
	margin-top: 10px;
	cursor: pointer;
}